:root {
    --profile_background: linear-gradient(45deg, #535771, #010718E0);
    --text_white: #e3dfdf;
    --sidebar_gray: #494848;
}
.page-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: var(--profile_background);
    overflow: scroll;
}

h1, h2, p{
    color: var(--text_white);
}

.page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}


.content-container {
    width: 75vw;
    height: 100vh;
    margin: 1rem;
}

.title-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-column {
    font-size: 2rem;
}

.about-row {
    display: flex;
    align-items: center;
}

/*Sidebar CSS*/

.sidebar {
    /*position: fixed;*/
    width: 20vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--sidebar_gray);
}
