:root {
    --profile_background: linear-gradient(45deg, #2E3645FF, #676565A0);
    --text_white: #e3dfdf;
    --sidebar_gray: #494848;
    --sidebar_border_gray: #676565A0;
    --sidebar_icon_border: #3d3b3c;
    --sidebar_icon_background: #0000001A;
    --sidebar_icon_circles: #FFFFFFDD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**Reminder of the font-family for the page**/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto Serif', serif;*/

/*NOTES ON MEDIA QUERIES
*max-width query: What it means is
    If(device width <= 768px){
    //aka max-width that is allowed for the css to be applied to
    //then do the following code
})

*min-width query:

    if(device width >= 769px){
    //aka min-width the device can be before the css is no longer applied
    //then do the following code
}
*/

/*For Screens smaller than 768px*/
@media screen and (max-width:768px){


   .title-row {
        margin: 2rem 0 1rem 0;
       justify-content: flex-end;


   }

   .title-column {
       font-size: 1.5em;
       max-width: 25rem;
       margin: 1rem 1rem 0 3rem;
       border: 1px solid white;
   }

    .about-column {
        float: right;
        width: 80%;
        height: 100%;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 2rem;
        margin: 2rem;
        border: 2px solid red;


    }

    /*Need to Change the side bar shrunken size on smaller screens*/
    /*Sidebar Shrunken for smaller devices*/
    .sidebar-shrink {
        width: 5rem;
        height: 5rem;
    }

}/*End of Small Media Screens*/


/*For Screens larger than 768 aka: default*/
@media screen and (min-width:769px){

    .title-row {
        align-items: center;
        padding: 1rem 1rem 1rem 1rem;
    }


    .title-column{
        font-size: 1.5em;
    }

    .about-column {
        float: right;
        width: 60%;
        height: 100%;
        font-size: 2em;
        line-height: 1.5em;
        padding: 2rem;
        margin: 2rem;
        border: 2px solid red;


    }

}/*End of Large Media Screens*/

/*Universal CSS*/

.page-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: var(--profile_background);
    overflow: scroll;
}


h1, h2, h3, p, li{
    color: var(--text_white);
}

h1, h2, h3 {
    font-family: 'Roboto Serif', serif;
}

p, li {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}

strong {
    color: black;
}

/*Font size and Family for the title-column*/

/*Container for all the main content for the entire page*/
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    height: 100vh;
    justify-content: space-between;
    margin: 1rem 0 1rem 10rem;
    border: 2px solid blue;
    /*padding: 5rem 0 5rem 5rem;*/
    z-index: -1;
}

.about-row {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid green;

}



.title-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 13rem;
    z-index: 100;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid var(--sidebar_icon_border);
    background-color: black;
}

.title-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /*margin-top: 1rem;*/
    width: 100%;
}

.title-column {
    padding: 5px;
    /*margin: 1rem;*/
}


.military-experience-column-title {
    margin: 1rem 1rem 2rem 1rem;

}

.military-experience-column-title > h1 {
    color: black;
}


/*Sidebar CSS*/

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--sidebar_gray);
}

.sidebar-container {
    margin-top: 1rem;
}

.sidebar-row {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 4rem;
    margin: .25rem 0 0 0;
    border: 2px solid var(--sidebar_border_gray);
    border-right: none;
    border-left: none;

}
/*Hovering over the Sidebar Rows*/
.sidebar-row:hover {
    background-color: var(--sidebar_icon_background);
}

.sidebar-row.no-border:nth-of-type(n+1) {
    border-top: none;
}

.sidebar-column a {
    text-decoration: none;
    color: var(--text_white);
    font-family: 'Raleway', sans-serif
}

/*The Row for the Icon Expanded*/
.sidebar-row-icon {
    position: absolute;
    padding: 1px;
    width: 6rem;
    height: 6rem;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

/*Changing the color of the sidebar icon when hovered
possible change the dots from 9 to 4 to show this will shrink the sidebar*/
.sidebar-row-icon:hover {
    background-color: var(--sidebar_icon_background);
}

.sidebar-row-icon-shrink:hover {
    background-color: var(--sidebar_icon_background);
}

/*I think the solution is to add a class that shrinks, then remove the class*/

/*The Row for Icon Shrunk*/
.sidebar-row-icon-shrink {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    padding: 1px;
    max-width: 5rem;
    max-height: 5rem;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.sidebar-column-icon-shrink {
    position: sticky !important;
    display: flex !important;
    max-width: 60% !important;
    /*flex-flow: nowrap !important;*/
    /*margin: 10px !important;*/

}

.sidebar-column-icon {
    position: sticky;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 1rem;
    padding: 2px;
}

/*Shrinking the sidebar*/

.sidebar-shrink {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    top: 5px;
    left: 5px;
    background-color: black;
}

/*.sidebar-container-hide {*/
/*    display: none;*/
/*}*/

.circles {
    height: 1rem;
    width: 1rem;
    margin: 1px;
    background-color: var(--sidebar_icon_circles);
    border-radius: 50%;
    border: 1px solid var(--sidebar_icon_border);
    display: inline-block;/*intended to allow the element to sit next to other elements*/
}
